.autocomplete_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.autocomplete {
  border: 1px solid silver;
  outline: none;
  margin: 0;
  background: #fff;
}

.autocomplete_result {
  border: 1px solid silver;
  border-top: 0;
  overflow: auto;
  max-height: 323px;
  background: #fff;
}

.autocomplete {
  width: 200px;
}

.autocomplete_result {
  min-width: 200px;
  max-width: 300px;
  z-index: 99;
  position: relative;
}

.autocomplete, .autocomplete_result p {
  padding: 4px;
  margin: 0;
  color: #000;
}

.autocomplete_result p:nth-child(2n+1) {
  background: #f6f6f6;
}

.autocomplete_result p:hover {
  background: #e5e5e5;
}

.autocomplete_result p {
  font-size: 12px;
}